<h1>List of EntryTypes</h1>

<table>
	<thead>
		<th>Name</th>
		<th>AttributeTypes</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% for entry_type in @entry_types %>
			<tr>
				<td><%= entry_type.name %></td>
				<td><%= entry_type.attrib_types.size %></td>
				<td><em>none</em></td>
			</tr>
		<% end %>
	</tbody>
	
</table>