<p>
  <b>Attribute:</b>
  <%=h @attribute_value.attribute_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @attribute_value.value %>
</p>


<%= link_to 'Edit', edit_attribute_value_path(@attribute_value) %> |
<%= link_to 'Back', attribute_values_path %>
